<div class="row">
  <div class="col-md-12">
    <h4 class="remove-margin">View Product </h4>
    <div class="card">
      <div class="card-header">
        <!-- <h5 class="card-name">Edit Profile</h5> -->
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="registerProduct()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputName1">Name</label>
                  <input formControlName="name" class="form-control" placeholder="name" disabled>

                  <div *ngIf="name.invalid && (name.dirty || name.touched)"
                          class="form-text text-muted">
                        <div *ngIf="name.errors?.required">
                          name is required.
                        </div>
                        <div *ngIf="name.errors?.minlength">
                          name must be at least 2 characters long.
                        </div>
                        <div *ngIf="name.errors?.maxlength">
                          name must have less than 11 characters.
                        </div>
                        <div *ngIf="name.errors?.pattern">
                          name can only have alphanumeric characters
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputValue1">Value</label>
                  <input formControlName="value" class="form-control" placeholder="value" disabled>

                  <div *ngIf="value.invalid && (value.dirty || value.touched)"
                          class="form-text text-muted">
                        <div *ngIf="value.errors?.required">
                          value is required.
                        </div>
                        <div *ngIf="value.errors?.minlength">
                          value must be at least 2 characters long.
                        </div>
                        <div *ngIf="value.errors?.maxlength">
                          value must have less than 11 characters.
                        </div>
                        <div *ngIf="value.errors?.pattern">
                          value can only have alphanumeric characters
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputdescription1">description</label>
                  <input formControlName="description" class="form-control" placeholder="description" disabled>

                  <div *ngIf="description.invalid && (description.dirty || description.touched)"
                          class="form-text text-muted">
                        <div *ngIf="description.errors?.required">
                          description is required.
                        </div>
                        <div *ngIf="description.errors?.minlength">
                          description must be at least 10 characters long.
                        </div>
                        <div *ngIf="description.errors?.maxlength">
                          description must have less than 501 characters.
                        </div>
                        <div *ngIf="description.errors?.pattern">
                          description can only have alphanumeric characters
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h2>Product Attributes</h2>
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputParent1">Attribute</label>
                <select style="display: bloc; width: 100%" [(ngModel)]="productAttribute">
                  <option *ngFor="let att of attributeList" [value]="att.name">
                    {{ att.type }}: {{ att.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputName1">Attribute Specificacion</label>
                <input class="form-control" placeholder="Specification" [(ngModel)]="espAttribute" required>
              </div>
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary" (click)="addAttribute()">Add attribute</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row" *ngFor="let productAtt of producAttributes">
                itera
                <span *ngIf="productAtt.color">Color: {{productAtt.color}}</span>&nbsp;&nbsp;
                <span *ngIf="productAtt.branch">Marca: {{productAtt.branch}}</span>&nbsp;&nbsp;
                <span *ngIf="productAtt.size">Talla: {{productAtt.size}}</span>&nbsp;&nbsp;
                <span *ngIf="productAtt.factory">Fabrica: {{productAtt.factory}}</span>&nbsp;&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
