<div class="row">
        <div class="col-md-12">
                <h4 class="remove-margin">Add Attribute </h4>
                <div class="card">
                  <div class="card-header">
                    <!-- <h5 class="card-name">Edit Profile</h5> -->
                  </div>
                  <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="registerAttribute()">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="exampleInputName1"></label>
                              <input formControlName="name" class="form-control" placeholder="name" required>

                              <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                      class="form-text text-muted">
                                    <div *ngIf="name.errors?.required">
                                      name is required.
                                    </div>
                                    <div *ngIf="name.errors?.minlength">
                                      name must be at least 2 characters long.
                                    </div>
                                    <div *ngIf="name.errors?.maxlength">
                                      name must have less than 11 characters.
                                    </div>
                                    <div *ngIf="name.errors?.pattern">
                                      name can only have alphanumeric characters
                                    </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="type">Type</label>
                              <select formControlName="type" name="type" id="type" style="display: block; width: 100%" value="color">
                                <option value="color" selected="selected">
                                  Color
                                </option>
                                <option value="size">
                                  Size
                                </option>
                                <option value="branch">
                                  Branch
                                </option>
                                <option value="factory">
                                  Factory
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round" [disabled]="!registerForm.valid">Register</button>
                          </div>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
</div>
